<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net461" />
  <package id="AntiXSS" version="4.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net461" />
  <package id="Nancy" version="0.20.0" targetFramework="net461" />
  <package id="Nancy.Viewengines.Razor" version="0.20.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net461" />
  <package id="System.Web.Razor.Unofficial" version="2.0.1" targetFramework="net461" />
</packages>